body {
    background-image: url(./images/locker.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#season {
    color: white;
    font-family: 'WebFont', 'burbank_big_condensedblack', sans-serif;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

#tagline {
    color: white;
    font-family: 'WebFont', 'burbank_big_condensedblack', sans-serif;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

#writeup {
    color: white;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

#source {
    color: white;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    font-style: italic;
}

#change {
    color: white;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

#disclaimer {
    color: white;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

iframe {
    width: 80%;
    height: 315px;
    /* If you can think of a better way to make it bigger on a bigger screen then please do it */
}

#pageimage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    background-image: url(./images/locker.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#ch1s1 {
    background-image: url(./images/locker.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#ch1s2 {
    background-image: url(./images/locker.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#ch1s3 {
    background-image: url(./images/locker.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#bottom {
    background-color: rgb(55, 55, 55);
}

a:link {
    color: red;
}

a:visited {
    color: purple;
}

.h_iframe {
    position: relative;
    padding-top: 56%;
}

.h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}








@font-face {
    font-family: 'burbank_big_condensedblack';
    src: url('./font/fortnite-webfont.woff2') format('woff2'),
        url('./font/fortnite-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}